<div class="row">
  <div class="col-md-13">
    <nav class="navbar navbar-inverse" style="padding-left:50px; text-align:center;">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/post">Posts</a></li>
      </ul>
    </nav>
  </div>
</div>
