<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h1 class="text-center" style="color:black;"><u>My Projects</u></h1>
    </div>
  </div>
</div>

<div class="row" style="margin:10px 0px;">
  <div class="col-md-12">
    <div class="text-center">
      <img src="https://blogs-images.forbes.com/michellesun/files/2016/08/FSPLFPQBCZ-1200x800.jpg?width=960" class="img-thumbnail" width="35%">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding:10px;">
      <em class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet accumsan massa, at pharetra felis. Vestibulum commodo efficitur lacus quis facilisis. Pellentesque vitae neque venenatis, porttitor ante eu, efficitur nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat lorem vel nulla aliquam convallis. Duis tincidunt, erat molestie commodo viverra, velit tortor ullamcorper felis, ut pellentesque nisl eros nec velit. Nulla egestas maximus maximus. Donec blandit auctor metus, ac volutpat turpis consectetur quis. Vivamus ullamcorper quam eu neque tincidunt pellentesque. Pellentesque pretium purus felis, id auctor lacus convallis nec. Pellentesque diam orci, bibendum ut massa in, pretium lacinia erat.
      </em>
    </div>
  </div>
</div>
